.DS_Store
Brewfile.local
Brewfile.local.lock.json
Brewfile.lock.json
Fonts.brewfile.lock.json
fish/local.fish
fish/fish_variables
fish/completions/
fish/functions/_fzf*
fish/functions/fzf*
fish/conf.d/
mise/age.txt
jj/conf.d/*.toml
